p
    | Hello #{name}, <br />
    | <br />
    | Below are the details of your request: <br />
    | <br />
    | <b>Name:</b>    #{name} <br />
    | <br />
    | <b>Email:</b>   #{email} <br />
    | <br />
    | <b>Phone:</b>   #{phone} <br />
    | <br />
    | <b>City:</b>    #{city} <br />
    | <br />
    | <b>Problem:</b> #{problem} <br />
    | <br />
    if os
        | <b>OS:</b>      #{os} <br />
        | <br />
    if date
        | <b>Date:</b>    #{date} <br />
        | <br />
    if desc
        | <b>Description of problem:</b> <br /> 
        | <br />
        | #{desc}
        | <br />
    | <br />
    | <br />
    | Thank you for taking the time to fill out our form. We will get back to you within 12 hours of your request.
    | <br />
    | <br />
    | Sincerely, <br />
    | <br />
    | <em>The IKS team</em>
